
<p><input type="date" name="date" placeholder="jj/mm/aaaa" class="add-ope-form form-control"; /></p>
<p><input type="text" name="name" placeholder="Intitulé de l'opération*" class="add-ope-form form-control"  /></p>
<p><input type="text" name="description" placeholder="Description"  class="add-ope-form form-control" /></p>
<p><input type="number" name="value" placeholder="Montant de l'opération*" class="add-ope-form form-control" /></p>
<p class="text-center"><input type='submit' id='submit_btn' class='submit_btn btn btn-primary btn-lg' value='Valider' /></p>
