
<header id="home-header">
    <a href="#/sign-in" class="login-btn">Sign In</a>
</header>

  <div class="wallpaper"></div>
 <!--<div id="bg-video">
  <video autoplay loop muted>
    <!--<source src="https://d2gnmrx58i4xh3.cloudfront.net/i/skydivers.mp4" type="video/mp4">
    <source src="https://d2gnmrx58i4xh3.cloudfront.net/i/skydivers.webm" type="video/webm;" />
    <source src="movies/background.mp4" type="video/mp4">
    <source src="movies/background.webm" type="video/webm;" />
  </video>
</div>-->


<div id="wrapper">
  <div class="center-content">
      <div class="device">
        <img class="preview-img" src="img/splash.png">
      </div>
      <!--<img class="main-title" src="img/title.png">-->
      <div class="download">
      <a rel="nofollow" href="apps/ComptaQuick.apk" class="icon-iphone-app"></a>
      <a rel="nofollow" href="apps/ComptaQuick.apk" class="icon-google-play"></a>
    </div>
  </div>
    
 

</div>
<!-- FOOTER -->
<footer id="home-footer">
    <a href="#/sign-up" class="sign-up-btn">Sign Up</a>
</footer>